/**
 * 注意：此文件的樣式會引入到每個元件中，請只放必要、每個元件幾乎都需要的樣式，以免檔案過肥
 */

:host {
  display: block;
  line-height: 1.5;
  font-family: 'Noto Sans CJK TC', source-han-sans-traditional, system-ui,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}
