:host {
  display: block;
  line-height: 1.8;
}

$letter-spacing: 2.5px;

a {
  display: block;
  text-decoration: none;
  letter-spacing: $letter-spacing;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  position: relative;

  div {
    background-color: #ebf02c;
    color: #000928;
    padding: 8px 0 8px $letter-spacing;
    transition: background-color 0.3s, color 0.3s;
    z-index: 1;
    position: relative;
    border: 1px solid #f5ebff;
    border-radius: 2px;

    &:hover {
      background-color: #04295e;
      color: #fff;
    }

    &:active {
      background-color: #000928;
      transition: none;
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 100%;
    height: 100%;
    background-color: #000928;
    border-radius: 2px;
  }
}
