@import '../../globals/base.css';
@import '../../globals/readr.scss';

:host {
  line-height: 1.8;
}

$letter-spacing: 2.5px;

a {
  display: block;
  letter-spacing: $letter-spacing;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  position: relative;

  div {
    background-color: var(--readr-donate-button__btn-bg-color, #ebf02c);
    color: var(--readr-donate-button__btn-color, #000928);
    padding: 8px 0 8px $letter-spacing;
    transition: background-color 0.3s, color 0.3s;
    z-index: 1;
    position: relative;
    border: 1px solid var(--readr-donate-button__btn-border-color, #f5ebff);
    border-radius: 2px;

    &:hover {
      background-color: var(
        --readr-donate-button__btn-bg-color__hover,
        #04295e
      );
      color: var(--readr-donate-button__btn-color__hover, #fff);
    }

    &:active {
      background-color: var(
        --readr-donate-button__btn-bg-color__active,
        var(--readr-donate-button__btn-bg-color__hover#000928)
      );
      color: var(
        --readr-donate-button__btn-color__active,
        var(--readr-donate-button__btn-color__hover, #fff)
      );
      transition: none;
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 100%;
    height: 100%;
    background-color: var(--readr-donate-button__shadow-bg-color, #000928);
    border-radius: 2px;
  }
}
