@import '../../globals/base.css';
@import '../../globals/readr.scss';

$letter-spacing: 5px;

h2 {
  background-color: #f5ebff;
  border-radius: 2px;
  text-align: center;
  color: #04295e;
  font-weight: 900;
  font-size: 18px;
  padding: 8px 24px 8px (24px + $letter-spacing);
  margin-bottom: 12px;
  letter-spacing: $letter-spacing;
  @include media-breakpoint-up(md) {
    font-size: 21px;
    margin-bottom: 14px;
  }
}

h3 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 17px;
  font-weight: 700;
  display: -webkit-box;
  text-align: justify;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    font-size: 20px;
  }
}

a {
  display: block;
  text-decoration: none;
}

p {
  color: rgba(0, 0, 0, 0.66);
  font-size: 13px;
  margin: 10px 0 0;
}

.coverage {
  display: flex;
  align-items: flex-start;

  + .coverage {
    margin: 10px 0 0;
    @include media-breakpoint-up(md) {
      margin: 20px 0 0;
    }
  }
}

img {
  display: block;
  width: 82px;
  height: 82px;
  object-fit: cover;
  @include media-breakpoint-up(md) {
    width: 200px;
    height: 100px;
  }
}

.info {
  flex: 1;
  margin: 0 0 0 20px;
}
