.share-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &__sns-links {
    position: absolute;
    top: 52px;
  }
}

.toggle-button {
  width: 40px;
  & svg {
    width: 100%;
  }
}

.sns-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99999;
  &__link {
    display: block;
    width: 40px;
    height: 40px;
    & svg {
      width: 100%;
      height: 100%;
    }
  }
}
