.share-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  button {
    width: 42px;

    &:focus {
      outline: none;
    }
  }
}

.sns-links {
  position: absolute;
  top: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99999;

  a + a {
    margin-top: 2px;
  }
}
